.form-p-title{
    text-align: center;
    font-size: 1.8rem;
}

.form-container{
    display: flex;
    flex-flow: row wrap;
    margin: 0 0 2rem 0;
}

.form{
    display: flex;
    flex-flow: column wrap;
    margin-right: 3rem;
    min-width: 40%;
}

.form .input-container input, textarea{
    width: 100%;
}

.input-item-btn{
    background-color: #DE423A;
    margin: 1rem auto;
    border: none;
    padding: 10px 15px;
    width: 50%;
    cursor: pointer;
    color: #fff;
}

textarea{
    height: 80px;
    resize: none;
}

.contact-container{
    max-width: 44.6%;
    margin: auto;
    border-right: 2px solid #DE423A;
}

.text-p-title{
    text-align: center;
    font-size: 1.3rem;
}

.text-p-sub{
    max-width: 85%;
}

.contact-icon-container{
    display: flex;
    flex-flow: row wrap;
}

.contact-icon-item{
    margin: 1rem;
    height: 40px;
    width: 40px;
}

.contact-icon-item a{
    font-weight: bold;
    padding: 10px 13px;
    font-family: monospace;
    line-height: 30px;
    font-size: 1.3rem;
    border-radius: 50%;
    text-align: center;
    background-color: #000;
    color: #fff;
}

@media screen and (max-width: 800px){
    .form{
        max-width: 50%;
        margin: auto;
    }

    .contact-container{
        max-width: 50%;
    }
    
    .input-item-btn{
        margin-top: 4rem;
    }
}